html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  /* your properties here */
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
.grid-container{
display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 10px;
 grid-auto-rows: minmax(100px, auto);
 grid: auto-flow dense / 40px 40px 1fr;
}
